<main class="grid-container">
  <div class="grid-x grid-padding-x">
    <h1 class="cell">Create new Room</h1>
  </div>
  <form class="grid-x grid-padding-x" {{action "createRoom" on="submit"}}>
    <div class="cell large-4">
      <label>Name
        {{input type="text" value=newName}}
        {{#if errorName}}
          <span class="form-error is-visible">{{errorName}}</span>
        {{/if}}
      </label>
      <label>
        Adresse
        {{input type="text" value=newAddress}}
        {{#if errorAddress}}
          <span class="form-error is-visible">{{errorAddress}}</span>
        {{/if}}
      </label>
      <label>Capacity
        {{input type="text" value=newCapacity}}
        {{#if errorCapacity}}
          <span class="form-error is-visible">{{errorCapacity}}</span>
        {{/if}}
      </label>
      <label>Features
        {{input type="text" value=newFeatures}}
        {{#if errorFeatures}}
          <span class="form-error is-visible">{{errorFeatures}}</span>
        {{/if}}
      </label>
      <div class="text-right">
        <LinkTo @route="rooms" class="button secondary">Return</LinkTo>
        <button class="button">Create</button>
      </div>
    </div>
  </form>
</main>

{{outlet}}