<main class="grid-container">
  <div class="grid-x grid-padding-x">
        <h1 class="cell">Update a single Room</h1>
  </div>
  <form class="grid-x grid-padding-x" {{action "updateRoom" on="submit"}}>
    <div class="cell large-4">
      <label>Name:{{input type="text" value=model.name}}</label><br/>
      <label>Adresse:{{input type="text" value=model.address}}</label><br/>
      <label>Capacity:{{input type="text" value=model.capacity}}</label><br/>
      <label>Features:{{input type="text" value=model.features}}</label><br/>
      <div class="text-right">
        <LinkTo @route="rooms" class="button secondary">Return</LinkTo>
        <button class="button">Update</button>
      </div>
    </div>
  </form>
</main>