<main class="grid-container">
  <div class="grid-x grid-padding-x">
    <h1 class="cell">{{t "application.my_rooms"}}</h1>
  </div>
  <div class="grid-x grid-padding-x">
    <nav class="cell shrink" aria-label="Rooms">
      <ul role="menu" aria-label="Rooms">
        <li>{{#link-to 'rooms.create'}}Create a Room{{/link-to}}</li>
      </ul>
    </nav>
    <section class="cell auto">
        <table>
          <thead>
            <th>Name</th>
            <th>Address</th>
            <th>Capacity</th>
            <th>Features</th>
            <th>Actions</th>
          </thead>
        <tbody>
  {{#each model as |room|}}
    <tr>
      <td><LinkTo @route="rooms.view" @model={{room.id}}>{{room.name}}</LinkTo></td>
      <td>{{room.address}}</td>
      <td>{{room.capacity}}</td>
      <td>{{room.features}}</td>
      <td><LinkTo @route="rooms.edit" @model={{room.id}}>Edit</LinkTo> | 
      <LinkTo @route="rooms.delete" @model={{room.id}}>Delete</LinkTo></td>
      <td>
        <nav aria-label="Actions for Client-seitige Web-Anwendungen">
          <ul role="menu" class="horizontal" aria-label="Actions">
              {{#each-in module.actions as |action display|}}
            <li><a href="" role="menuitem" aria-label={{display.title}} title={{display.title}} class={{display.icon}} tabindex="0"></a></li>
            {{/each-in}}
          </ul>
        </nav>
      </td>
    </tr>
  {{/each}}
  </tbody>
  </table>
    </section>
  </div>
  </main>