<main class="grid-container">
  <h3>Create Room</h3>
  <form {{action "createRoom" on="submit"}}>
    <label>Name:{{input type="text" value=newName}}</label><br/>
    <label>Adresse:{{input type="text" value=newAddress}}</label><br/>
    <label>Capacity:{{input type="text" value=newCapacity}}</label><br/>
    <label>Features:{{input type="text" value=newFeatures}}</label><br/>
    <button>Create</button>
  </form>
</main>

{{outlet}}